@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Marck+Script&display=swap");

:root {
  --font-family-title: "Croissant One", "JetBrains Mono";
  --font-family-body: "Marck Script", "JetBrains Mono";
}

/* .receita {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
} */

.receita-titulo {
  text-align: center;
  font-family: var(--font-family-title);
  font-size: 40px;
}

.receita-ingredientes {
  display: flex;
  flex-direction: column;
}
